@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "_layoutInner.cshtml";
}


    @if (TempData["ContactSuccess"] != null && (bool)TempData["ContactSuccess"])
    {
        <p>Your message was sent successfully</p>
    }
    else
    {
        Html.RenderAction("RenderForm", "PSContact");
    }
